.header {
  padding: 0.2em 0.5em;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}
.logo {
  color: var(--primary-color);
}
.header a {
  color: initial;
  display: inline-block;
}
.header a:hover {
  text-shadow: 2px 2px 4px var(--shadow-color);
  text-decoration: none;
}
