.loadingContainer {
  text-align: center;
  background-color: var(--transparent-background-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.busyLoader {
  width: 175px;
  height: 175px;
  z-index: 3;
}

.box {
  width: 50px;
  height: 50px;
  margin: 25px;
  position: absolute;
}
.boxOne {
  animation: box-one 1.5s infinite ease;
}
.boxTwo {
  animation: box-two 1.5s infinite ease;
}
.boxThree {
  animation: box-three 1.5s infinite ease;
}
.boxFour {
  animation: box-four 1.5s infinite ease;
}

@keyframes box-one {
  0% {
    margin: 25px 25px 25px 25px;
    background-color: #d0264f;
  }
  25% {
    margin: 25px 25px 25px 100px;
    background-color: #5550ba;
  }
  50% {
    margin: 100px 25px 25px 100px;
    background-color: #31b4d1;
  }
  75% {
    margin: 100px 25px 25px 25px;
    background-color: #a729aa;
  }
  100% {
    margin: 25px 25px 25px 25px;
    background-color: #d0264f;
  }
}
@keyframes box-two {
  0% {
    margin: 25px 25px 25px 100px;
    background-color: #a729aa;
  }
  25% {
    margin: 100px 25px 25px 100px;
    background-color: #d0264f;
  }
  50% {
    margin: 100px 25px 25px 25px;
    background-color: #5550ba;
  }
  75% {
    margin: 25px 25px 25px 25px;
    background-color: #31b4d1;
  }
  100% {
    margin: 25px 25px 25px 100px;
    background-color: #a729aa;
  }
}
@keyframes box-three {
  0% {
    margin: 100px 25px 25px 25px;
    background-color: #31b4d1;
  }
  25% {
    margin: 25px 25px 25px 25px;
    background-color: #a729aa;
  }
  50% {
    margin: 25px 25px 25px 100px;
    background-color: #d0264f;
  }
  75% {
    margin: 100px 25px 25px 100px;
    background-color: #5550ba;
  }
  100% {
    margin: 100px 25px 25px 25px;
    background-color: #31b4d1;
  }
}
@keyframes box-four {
  0% {
    margin: 100px 25px 25px 100px;
    background-color: #5550ba;
  }
  25% {
    margin: 100px 25px 25px 25px;
    background-color: #31b4d1;
  }
  50% {
    margin: 25px 25px 25px 25px;
    background-color: #a729aa;
  }
  75% {
    margin: 25px 25px 25px 100px;
    background-color: #d0264f;
  }
  100% {
    margin: 100px 25px 25px 100px;
    background-color: #5550ba;
  }
}
